.parent {
  height: 100vh;
  min-height: var(--min-height);
}
.parent .drag-1 {
  aspect-ratio: 1/2;
}
.parent .drag-2 {
  aspect-ratio: 2/3;
}

.draggable {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
.draggable li {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  touch-action: none;
}
.draggable li::after {
  content: "";
  background: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 1em);
  height: calc(100% - 1em);
}
.draggable li:hover{
  cursor: grab
}

.draggable-mirror {
  position: absolute;
  width: var(--col-width);
  aspect-ratio: 1;
  z-index: 99;
}
.draggable-mirror::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 1em);
  height: calc(100% - 1em);
  transform: translate(-50%, -50%);
  background: blue;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 15px 30px 0px;
}
