#root {
  width: 100%;
}

.parent {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.container > div {
  width: 100%;
}

.drag-item {
  padding: 0.5em;
  aspect-ratio: 1;
}

.bg-red {
  background: red;
  width: 100%;
  height: 100%;
}

.item-1 .drag-item {
  aspect-ratio: 1/2;
}
.item-2 .drag-item {
  aspect-ratio: 2/3;
}

#item-clone {
  position: absolute;
  top: 0;
  z-index: 99;
}

.bg-blue {
  background: blue;
  width: 100%;
  height: 100%;
}
